// Specific CSS for your home-page
.ships-list-gallery {
	padding: 1rem 0rem 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
	a {
		margin: auto;
	}
}

@media (max-width: 1000px) {
    .ships-list-gallery {
      grid-template-columns: 1fr 1fr;
    }
  }

@media (max-width: 850px) {
    .ships-list-gallery {
      grid-template-columns: 1fr;
    }
  }

.banner .cd-headline {
  font-size: 56px;
  line-height: 60px;
  color: #1a0841;
  opacity: 0.8
}

.banner-3 {
  position: relative;
}

.section {
  padding: 130px 0px 0px 0px;
  // padding: 130px 0px; original
}

.section-sm {
  padding: 60px 0px;
}

#video-home {
	display: flex;
	justify-content: center;
	padding: 0rem 4rem 8rem 4rem;
  margin-top: -4rem;
}

.service-home {
  position: relative;
  padding: 100px 0px
}

.padding-top-video {
  height: 4rem;
  background: white;
  position: relative
} 

.video-section {
  padding-top: 100px
}

.video-edou {
  height: 150px; 
  background-image: url(https://res.cloudinary.com/dovu27lye/image/upload/v1582038449/bobato/maquette2_e1eoso.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  .btn-group, .btn-group-toggle {
    display: flex!important;
    flex-wrap: wrap;
    .btn-group > .btn {
      padding: 8px
    }
  }

}


