// Specific CSS for your home-page
.ships-list-gallery {
	padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
	a {
		margin: auto;
	}
	.inner-box .image{
		border-radius: 5px;
		box-shadow: 4px 4px 5px #818385;
	}
}