#form-ship {
	display: flex;
    justify-content: center;
    margin-bottom: 7rem;
	.btn-form {
		justify-content: center;
		display: flex;
	}
    form {
    	width: 50%;
    	.form-group label {
    		justify-content: center;
    		display: flex;
    	}
    	.ship-category {
			text-align: center
    	}
    }
}
#edit-form {
	display: flex;
	flex-direction: column;
	.btn-form-edit {
		margin: -4rem 21rem 8rem 21rem;
	}
}	


#form-categories {
	display: flex;
	justify-content: center;

	.check-boxes label {
		padding: 10px
	}
}

.title-new{
	text-align: center ;
	margin: 4rem 2rem 4rem 2rem
}