// Specific CSS for your home-page
.ships-list-gallery {
	padding: 1rem 0rem 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
	a {
		margin: auto;
	}
}

@media (max-width: 1000px) {
    .ships-list-gallery {
      grid-template-columns: 1fr 1fr;
    }
  }

@media (max-width: 850px) {
    .ships-list-gallery {
      grid-template-columns: 1fr;
    }
  }

.banner .cd-headline {
  font-size: 56px;
  line-height: 60px;
  color: #1a0841;
  opacity: 0.8
}

.banner-3 {
  position: relative;
}

.section {
  padding: 130px 0px 0px 0px;
  // padding: 130px 0px; original
}

.section-sm {
  padding: 60px 0px;
}

#video-home {
	display: flex;
	justify-content: center;
	padding: 0rem 4rem 8rem 4rem;
  margin-top: -4rem;
}

.service-home {
  position: relative;
  padding: 100px 0px
}

.padding-top-video {
  height: 4rem;
  background: white;
  position: relative
} 

.video-section {
  padding-top: 100px
}

@media (max-width: 767px) {
  .btn-group, .btn-group-toggle {
    display: flex!important;
    flex-wrap: wrap;
    .btn-group > .btn {
      padding: 8px
    }
  }

}

// Videos tests

.section {
  background: white
}

.ships_list {
  background: white
}

.service-home {
  background: white
}

.video-section {
  background: white
}

.video-edou {
      // background-image: url(https://res.cloudinary.com/dovu27lye/image/upload/v1582038449/bobato/maquette2_e1eoso.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    video {
    width: 100vw; /* Could also use width: 100%; */
    height: 100vh;
    object-fit: cover;
    position: fixed; /* Change position to absolute if you don't want it to take up the whole page */
    left: 0px;
    top: 0px;
    z-index: -1;
  }
}

.transparent-home {
  height: 17vh;
} 

@media (max-width: 1024px) { 
  .video-edou {
    video {
      top: 148px;
      height: 50vh;
    }
  }
  .transparent-home {
    height: 10vh
  }
  .section {
    padding: 130px 0px 60px 0px;
  // padding: 130px 0px; original
  }
}

@media (max-width: 400px) { 
  .transparent-home { 
    display: none;
    }
  .video-edou {
    background-image: url(https://res.cloudinary.com/dovu27lye/image/upload/v1582200055/bobato/maquette_ygy7q7.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
    video {
      display: none;
    }
  }
    .section {
    padding: 130px 0px 0px 0px;
  // padding: 130px 0px; original
  }
}


