<section class="footer">
	<div class="container">
		<div class="row ">
			<div class="col-lg-6">
				<p class="mb-0">Copyrights © 2020. Designed & Developed by <a href="https://www.delage.dev/" target="_blank">
        delage.dev</a></p>
			</div>
			<div class="col-lg-6">
				<div class="widget footer-widget text-lg-right mt-5 mt-lg-0">
					<ul class="list-inline mb-0">
						<li class="list-inline-item"><a href="https://www.facebook.com/themefisher" target="_blank"><i class="fab fa-facebook-f mr-3"></i></a>
						<li class="list-inline-item"><a href="https://www.linkedin.com/company/la-flotte-ltd-bobato/" target="_blank"><i class="fab fa-linkedin-in mr-3"></i></a>	
						<li class="list-inline-item"><a href="https://www.instagram.com/bobato_ship_models/" target="_blank"><i class="fab fa-instagram mr-3"></i></a>
						<li class="list-inline-item"><a href="https://www.youtube.com/watch?v=rsvCVUYhs0M" target="_blank"><i class="fab fa-youtube mr-3"></i></a>																			
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>