<div class="footer">
	<p class="mb-0">Copyrights © 2020. Designed & Developed by <a href="https://www.delage.dev/" target="_blank">
delage.dev</a></p>
	<ul class="list-inline mb-0">
		<li class="list-inline-item"><a href="https://www.facebook.com/yoteu" target="_blank"><i class="fab fa-facebook-f mr-3"></i></a>
		<li class="list-inline-item"><a href="https://www.linkedin.com/company/yoteu/" target="_blank"><i class="fab fa-linkedin-in mr-3"></i></a>	
		<li class="list-inline-item"><a href="https://www.instagram.com/yoteu_ship_models/" target="_blank"><i class="fab fa-instagram mr-3"></i></a>
		<li class="list-inline-item"><a href="https://www.youtube.com/watch?v=tvXpb-f17y4" target="_blank"><i class="fab fa-youtube mr-3"></i></a>																			
		</li>
	</ul>
</div>