<div id="about-title">
	<a href="#about-us" class="tab-underlined active" data-target="Fiche">ABOUT US</a>
</div>

<div class="border-top show-details" id="about-us">
	<h4>WELCOME TO Yoteu Ship Models</h4>

	<p>Yoteu exists since 2010, when Mr Boat began making models of boats in a cute place in Papeete. Meanwhile, the company grew and built an extensive collection of boat models for its customers.</p>


	<p>The company provides customers with quality service.</p>

	<h4>Models of Tahitian craft boats</h4>

	<p>We invite you to browse our wide range of models of boats, YOTEU is a renowned company with more than 10 years of experience.</p>

	<h4>OUR MODELS</h4>

	<p>They work on original plans for the realization of the models of historical boats (Frégate). Each plan is studied meticulously the measurements, size and details are taken into consideration. We make a point of honor to respect as much as possible the details of the models, the hull until the finish. We sell in our showroom (in Tahiti) and via the website. We carefully inspected is packed to be shipped to its respective destination. To better serve our customers by producing replica boats, nautical decorations and marine gifts at affordable prices. We are proud of our activities and guarantee a total satisfaction of our products and services.</p>

	<h4>WORKSHOP AND OUR ARTISANS</h4>

	<p>Our workshop has five cabinetmakers. They have been experienced in recent years, which is why yoteu is famous for its modern boat models such as historic boat models, modern sailboats, motor boats, modern yacht, warships, cruise ships , military boats and custom boats that are well defined and accurate. Our artisans even work on images to reproduce custom patterns, because plans are not often available. From there, we redraw the hull ” the chord, the keel and all the pieces that are on the deck of the boat from these pictures.</p>

	<h4>REFINED MATERIALS:</h4>

	<p>Our boats are different types of wood: hull, mast and parts in teak, rose, ebony, oak and wenge, etc. The spare parts of the boat are solid brass such as Helices, Winch, Cannons. The figurehead, Anchors and all decorations are metal molds (zinc). Cotton fabrics are used as veils and cotton yarns as well as nylon that are waxed with beeswax for rigging. Most of the time, the finishes are painted and varnished according to the customer. For painted models, we put a layer of fiberglass on the wooden shell before painting for a better finish and a solid shell. For varnished models, we use natural clear varnish.</p>

	<p>The owners of the boats, the shipyards or enthusiasts of the old rigs model boats we are at your disposal for a quote.</p>

</div>


<div id="btn-home">
    <%= link_to "HOME", root_path, class: "btn btn-outline-prk" %>
  </div>
