<div id="container-show">
  <div class="container-details">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= image_tag(@ship.photo_url, width: '100%') %>
      </div>
      <div class="col-sm-12 col-md-6 details">
        <h1><%= @ship.name %></h1>
        <p><%= @ship.dimension %></p>
        <p style="text-align: justify;"><%= @ship.description %></p>
        <p>Price: €250</p>
      </div>
    </div>
  </div>
</div>