.footer {
  font-color: #ff5959;
  padding: 10px 25px 10px 25px;
  background: #D7D8D8;
  opacity: 0.2;
  display: flex;
  justify-content: space-between;
  height: 45px;
  a:hover {
    color: black;
  }
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  z-index: 1001;
}

.footer-widget a {
  color: #ff5959;
  text-transform: capitalize;
}

@media (max-width: 1100px) { 
  .footer p {
    font-size: 12px
  }
}

@media (max-width: 500px) { 
  .footer p {
    font-size: 8px;
  }
  .footer {
    padding: 10px 10px 10px 10px;
  }
}
